.card { position: relative; background-color: #931554; }

.card::after { content: ''; display: table; clear: both; }

.card::before { content: ''; position: absolute; height: 50px; width: 100%; top: 0; right: 0; z-index: 20; display: block; background-color: white; }

.card__bio { padding: 0 40px; max-height: 0; overflow: hidden; position: relative; -webkit-transition: max-height .3s ease-in-out; -moz-transition: max-height .3s ease-in-out; transition: max-height .3s ease-in-out; border-bottom: 1px solid #E15B00; }

.card__bio.is-open { max-height: 20em; padding-bottom: 30px; }

.card__image { position: relative; z-index: 40; text-align: center; }

@media (min-width: 64em) { .card__image { margin: 0; } }

.card__image img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

.card__name { text-align: center; font-size: 30px; margin-bottom: 4px; }

.card__social-media--label { width: 100%; text-align: center; margin-bottom: 10px; }

@media (min-width: 64em) { .card__social-media--label { margin-top: 20px; margin-bottom: 20px; } }

.card__menu--social { text-align: center; margin-bottom: 30px; }

.card__menu--social--item { display: inline-block; width: 40px; height: 40px; list-style: none; font-size: 50px; margin: 0 10px; line-height: 1; }

.card__menu--social--item:first-child { margin-left: 0; }

.card__menu--social--item:last-child { margin-right: 0; }

.card__menu--social--item a { color: #1F3A53; }

.card__menu--social--item a:hover, .card__menu--social--item a:focus { text-decoration: none; color: #E15B00; }

.card__menu--social--item .icon { width: 40px; height: 40px; fill: #1F3A53; }

.card__menu--social--item .icon:hover, .card__menu--social--item .icon:focus { fill: #E15B00; }

.card__menu--social--item span { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.card__view-bio { display: block; position: relative; height: 60px; padding-left: 40px; padding-right: 40px; background-color: transparent; color: #E15B00; width: 100%; border: 0; border-top: 1px solid #CCCCCC; text-align: left; }

.card__view-bio::after { display: block; height: 0; width: 0; border-bottom: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 8px solid #E15B00; display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); content: ""; display: block; right: 40px; }

.card__view-bio.flip-carat::after { display: block; height: 0; width: 0; border-bottom: 8px solid #E15B00; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 0; }

.card__view-bio:hover, .card__view-bio:focus { background-color: transparent; }

.download-app { font-size: 0; }

.download-app > * { font-size: 16px; }

.download-app .content-image { display: inline-block; vertical-align: middle; width: auto; margin-right: 3.345%; width: 56.935%; }

.download-app .content-info { display: inline-block; vertical-align: middle; width: auto; margin-right: 3.345%; width: 39.709%; margin-right: 0; }

.view-news .views-exposed-form .form-actions .button { display: none; }

.view-news .content-all { font-size: 0; }

.view-news .content-all > * { font-size: 16px; }

.view-news .content-all .revive-adserver-row { margin-bottom: 30px; text-align: center; }

.view-news .content-all .revive-adserver-row .block-revive-adserver { display: inline-block; }

.view-news .content-all .views-row { display: inline-block; vertical-align: top; width: 31%; -webkit-box-shadow: 1px 1px 10px #a7a7a7; -moz-box-shadow: 1px 1px 10px #a7a7a7; box-shadow: 1px 1px 10px #a7a7a7; margin-bottom: 30px; position: relative; margin-right: 3.5%; }

.view-news .content-all .views-row.open-social .content-publication:after { content: ""; width: 100%; height: 100%; display: inline-block; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 2; }

.view-news .content-all .views-row.open-social .content-publication-info { z-index: 100; }

.view-news .content-all .views-row.open-social .close-social { display: block; }

.view-news .content-all .views-row.open-social .share-button { z-index: 5; }

.view-news .content-all .views-row .close-social { display: none; position: absolute; top: 0; right: 10px; z-index: 100; font-size: 1.3em; color: #fff; cursor: pointer; }

.view-news .content-all .views-row:nth-child(3n) { margin-right: 0; }

@media (max-width: 767px) { .view-news .content-all .views-row { margin: 0; margin-bottom: 20px; } }

@media screen and (max-width: 767px) { .view-news .content-all .views-row { width: auto; display: block; } }

.view-news .views-field-node-share-mail { position: absolute; top: 50px; z-index: 3; left: 5%; width: 90%; display: none; }

.view-news .views-field-node-share-mail h5 { color: #fff; margin: 0 0 6px 0; font-size: 16px; }

.view-news .views-field-node-share-mail .form-group { margin-bottom: 8px; }

.view-news .views-field-node-share-mail .form-body { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: none; padding: 10px 2%; width: 96%; }

.view-news .views-field-node-share-mail .form-email { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: none; padding: 10px 2%; width: 96%; }

.view-news .views-field-node-share-mail.active { display: block; }

.view-news .views-field-node-share-mail button { background: #d6478f; color: #fff; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 6px 11px; }

.view-news .views-field-node-share-mail .alert-dismissible { background: #fff; }

.view-news .views-field-node-share-mail .alert-dismissible button { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-right: 10px; }

.view-news .icon-mail { background: red; background: transparent url("../../image/correo_p.svg") no-repeat center center; -moz-background-size: 33px; background-size: 33px; display: inline-block; text-indent: -9999px; width: 37px; height: 34px; }

.content-news .content-publication { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 0; }

.content-news .content-publication img { width: 100%; }

.content-news .content-publication:after { background: rgba(0, 0, 0, 0.3); content: ''; width: 100%; height: 100%; position: absolute; display: inline-block; top: 0; left: 0; z-index: 0; }

.content-news .content-publication .a2a_button_facebook { background: url("../../image/facebook-inmuebles-fondoblanco.svg"); }

.content-news .content-publication .a2a_button_twitter { background: url("../../image/twitter-inmuebles-fondoblanco.svg"); }

.content-news .content-publication .content-publication_info { z-index: 2; }

.content-news .content-publication .menu-flag { z-index: 2; }

.content-news .content-publication h2 { bottom: 15px; font-size: 1.4em; font-weight: 300; left: 2%; margin: 0; position: absolute; width: 96%; line-height: 1.3; z-index: 2; }

.content-news .content-publication h2 a { color: #fff; display: block; display: block; position: relative; width: 100%; }

.content-news .content-publication h2 a span { display: block; vertical-align: bottom; position: absolute; bottom: 0; width: 100%; }

.content-news .content-publication .field--name-field-image { line-height: 0; }

.content-news .content-publication .field--name-field-image img { width: 100%; height: auto; }

.content-news .content-publication .field--name-field-image { width: auto; height: 214px; overflow: hidden; position: relative; }

.content-news .content-publication .field--name-field-image:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }

.content-news .content-publication .field--title { font-weight: 500; }

.content-news .content-publication .field--name-field-category a { padding-top: 9px; -webkit-box-shadow: 0px 1px 2px #5A5A5A; -moz-box-shadow: 0px 1px 2px #5A5A5A; box-shadow: 0px 1px 2px #5A5A5A; font-weight: 500; }

.content-news .content-publication .field--name-field-category { background: #3781c4; left: 0; position: absolute; top: 0; z-index: 2; }

.content-news .content-publication .field--name-field-category a { color: #fff; display: inline-block; font-weight: 300; padding: 16px 25px; }

.content-news .content-publication .menu-flag .share-button { position: absolute; top: 0; right: 50px; z-index: 2; }

.content-news .content-publication .menu-flag .share-button > .icon-share { background: transparent url("../../image/Compartir.svg") no-repeat center center; width: 19px; height: 21px; display: block; padding: 10px; }

.content-news .content-publication .menu-flag .save-new { margin-top: 7px; position: absolute; top: 0; right: 10px; z-index: 2; }

.content-news .content-publication .menu-flag .save-new a { background: transparent url("../../image/Guardar.svg") no-repeat center center; display: inline-block; text-indent: -9999px; width: 30px; height: 30px; }

.content-news .content-publication .share-button { display: inline-block; vertical-align: middle; width: auto; position: relative; cursor: pointer; }

.content-news .content-publication .share-button .icon-share { display: inline-block; height: 20px; width: 20px; }

.content-news .content-publication .share-button .addtoany_list { display: none; position: absolute; text-align: center; top: 6px; right: 55px; width: 185px; z-index: 100; }

.content-news .content-publication .share-button .addtoany_list a { padding-right: 5px; padding-left: 0; }

.content-news .info-publication { font-size: 0; background: #e5e6e5; padding: 10px 2%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.content-news .info-publication > * { font-size: 16px; }

.content-news .info-user { display: inline-block; vertical-align: middle; width: 60%; }

.content-news .info-user img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: inline-block; vertical-align: middle; width: auto; max-width: 25px; margin-right: 5px; }

.content-news .info-user .field--name-uid { color: #4a4a4a; font-weight: 700; }

.content-news .date-publication { display: inline-block; vertical-align: middle; width: 40%; text-align: right; color: #4a4a4a; font-size: 12px; }
