@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i|PT+Sans:400,400i,700,700i");
.title-styleguide { color: #8a8a8a; border-bottom: 1px solid #8a8a8a; margin-bottom: 10px; margin-top: 37px; padding-bottom: 10px; }

body { font-family: "Lato", sans-serif; font-size: 16px; }

a { text-decoration: none; }

ul { list-style: none; margin: 0; padding: 0; }

ul.menu { margin: 0; }

ul .menu-item { padding: 0; }

img { height: auto; max-width: 100%; }

h2 { color: #4a4a4a; font-family: "Lato", sans-serif; font-size: 1.750em; font-weight: 400; line-height: 34px; }

p { color: #4a4a4a; font-family: "PT Sans", sans-serif; font-size: 1em; font-weight: 400; line-height: 22px; }

.SumoSelect > .CaptionCont { background: none; border: 1px solid #c0c0c0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding: 8px; }

.SumoSelect > .CaptionCont span { color: #4a4a4a; }

.SumoSelect > .CaptionCont > label > i { background: transparent url("../../image/select-pink.png") no-repeat center center; }

.select-pink .SumoSelect > .CaptionCont { border: none; border-bottom: 1px solid #d6478f; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.select-pink .SumoSelect > .CaptionCont span { color: #d6478f; }
