// base element
//
// base component
//
// Markup: base.twig
//
// Style guide: Base.base

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i|PT+Sans:400,400i,700,700i');


.title-styleguide {
  color: #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 10px;
  margin-top: 37px;
  padding-bottom: 10px;
}

body {
  font-family: $font-lato;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  &.menu {
    margin: 0;
  }

  .menu-item {
    padding: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

h2 {
  color: $c-gray;
  font: {
    family: $font-lato;
    size: 1.750em;
    weight: 400;
  }
  line-height: 34px;
}

p {
  color: $c-gray;
  font: {
    family: $font-ptsans;
    size: 1em;
    weight: 400;
  }
  line-height: 22px;
}

.SumoSelect {
  > .CaptionCont {
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    box-shadow: none;
    padding: 8px;
    
    span {
      color: $c-gray;
    }

    > label {
      > i {
        @include bg-image('select-pink.png');
      }
    } 
  }
}

.select-pink {
  @include select-pink();
}
