<h4 class="title-styleguide"> Esto es un h2 </h4>
<h2> {{h2}} </h2>

<h4 class="title-styleguide"> Select con borde </h4>
<select>
    <option value="All" selected="selected">- Cualquiera -</option>
    <option value="2287">Apartaestudio</option>
    <option value="3">Apartamento</option>
</select>

<h4 class="title-styleguide"> Select sin borde </h4>
<div class="select-pink">
    <select>
        <option value="All" selected="selected">- Cualquiera -</option>
        <option value="2287">Apartaestudio</option>
        <option value="3">Apartamento</option>
    </select>
</div>

<h4 class="title-styleguide"> Esto es un parrafo </h4>
<p>{{p}}</p>