<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="kss-assets/kss.css">
  <link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/source/styleguide/">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/sumoselect.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/base/base.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/component/component.css">

</head>
<body id="kss-node">
  <div class="kss-wrapper">

    <div class="kss-sidebar">
      <div class="kss-sidebar-inner">
        <header class="kss-header">
          <h1 class="kss-doc-title">Style Guide</h1>
        </header>
        <nav class="kss-nav">
          <ul class="kss-menu">
            <li class="kss-menu-item"><a href="./"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
                          <li class="kss-menu-item">
                <a href="section-base.html"><span class="kss-ref">1</span><span class="kss-name">Base</span></a>
                              </li>
                          <li class="kss-menu-item">
                <a href="section-components.html"><span class="kss-ref">2</span><span class="kss-name">Components</span></a>
                              </li>
                      </ul>
        </nav>
      </div>
    </div>

    <div class="kss-content">
      <article role="main" class="kss-article">
      
        
                            <div id="kssref-components-card" class="kss-section kss-depth-2">
            <div class="kss-style">
                            <h2 class="kss-title kss-title--level-2">
                <a class="kss-title__permalink" href="#kssref-components-card">
                  Card
                </a>
              </h2>

                              <div class="kss-description">
                  <p>Card component</p>

                </div>
              
                          </div>

                          <div class="kss-modifier-block">

                <div class="kss-modifier kss-modifier-original">
                  <div class="kss-modifier-example">
                    




<div class="card ">
  <div class="card__image"><img src='assets/miriam-werner.png' alt='Miriam B. Werner' /></div>
  <h2 class="card__name">Miriam B. Werner</h2>
  <div class="card__social-media">
    <div class="card__social-media--label">Follow on:</div>
    <ul class="menu card__menu--social">
              <li class="card__menu--social--item">
          <a href="http://instagram.com" class="icon-instagram">
            instagram<span>instagram</span>
          </a>
        </li>
              <li class="card__menu--social--item">
          <a href="http://twitter.com" class="icon-twitter">
            twitter<span>twitter</span>
          </a>
        </li>
              <li class="card__menu--social--item">
          <a href="http://youtube.com" class="icon-youtube">
            youtube<span>youtube</span>
          </a>
        </li>
          </ul>
  </div>
  <button class="card__view-bio">View full biography</button>
    <div class="card__bio">Miriam B. Weiner is an experienced travel writer and editor based in Washington, D.C. She has traveled all around Europe, as well as to countries in Africa and the Middle East. Now she’s set her sights on visiting the U.S. National Parks while providing the inspiration and information others need to make the most of America’s wilderness.</div>
</div>

                  </div>
                </div>

                                                <div class="kss-markup">
                  <button class="js-show-markup">Show Markup Example</button>
                  <template>
                    <pre><code data-language="html">{#
/**
 * @file
 * Card component.
 *
 * Available variables:
 * - image: headshot of user.
 * - name: name of user.
 * - bio: user&#039;s bio.
 * - showBio: Toggle button to show full bio.
 * - hideBio&quot; Hides bio.
 * - socialLinks: Social media channels array.
 *   - title: name of social channel.
 *   - url: url of channel.
 */
#}
{# Attach card library #}
{# {{ attach_library(&#039;awesome_theme/card&#039;) }}#}

{# Import icons macro #}
&lt;div class=&quot;card {{ modifier_class }}&quot;&gt;
  &lt;div class=&quot;card__image&quot;&gt;{{ image }}&lt;/div&gt;
  &lt;h2 class=&quot;card__name&quot;&gt;{{ name }}&lt;/h2&gt;
  &lt;div class=&quot;card__social-media&quot;&gt;
    &lt;div class=&quot;card__social-media--label&quot;&gt;Follow on:&lt;/div&gt;
    &lt;ul class=&quot;menu card__menu--social&quot;&gt;
      {% for item in socialLinks %}
        &lt;li class=&quot;card__menu--social--item&quot;&gt;
          &lt;a href=&quot;{{ item.url }}&quot; class=&quot;icon-{{ item.icon|lower|clean_class }}&quot;&gt;
            {{ icons.get(item.icon) }}&lt;span&gt;{{ item.icon }}&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
      {% endfor %}
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;button class=&quot;card__view-bio&quot;&gt;{{ showBio }}&lt;/button&gt;
    &lt;div class=&quot;card__bio&quot;&gt;{{ bio }}&lt;/div&gt;
&lt;/div&gt;
</code></pre>
                  </template>
                </div>
                              </div>

                                    </div>
                    </article>
    </div>
</div>

<!-- SCRIPTS -->
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/jquery-1.9.1.min.js"></script>
<script src="/core/misc/drupal.js"></script>
<script src="kss-assets/rainbow.min.js"></script>
<script src="kss-assets/main.js"></script>
<script src="https://fast.fonts.net/jsapi/be6ccecf-72d4-4789-bbc3-f0be03f90a6a.js" async></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/jquery.sumoselect.min.js"></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/style-guide.js"></script>


<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
