<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="kss-assets/kss.css">
  <link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/source/styleguide/">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/sumoselect.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/base/base.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/component/component.css">

</head>
<body id="kss-node">
  <div class="kss-wrapper">

    <div class="kss-sidebar">
      <div class="kss-sidebar-inner">
        <header class="kss-header">
          <h1 class="kss-doc-title">Style Guide</h1>
        </header>
        <nav class="kss-nav">
          <ul class="kss-menu">
            <li class="kss-menu-item"><a href="./"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
                          <li class="kss-menu-item">
                <a href="section-base.html"><span class="kss-ref">1</span><span class="kss-name">Base</span></a>
                              </li>
                          <li class="kss-menu-item">
                <a href="section-components.html"><span class="kss-ref">2</span><span class="kss-name">Components</span></a>
                              </li>
                      </ul>
        </nav>
      </div>
    </div>

    <div class="kss-content">
      <article role="main" class="kss-article">
      
        
                            <div id="kssref-base-base" class="kss-section kss-depth-2">
            <div class="kss-style">
                            <h2 class="kss-title kss-title--level-2">
                <a class="kss-title__permalink" href="#kssref-base-base">
                  base element
                </a>
              </h2>

                              <div class="kss-description">
                  <p>base component</p>

                </div>
              
                          </div>

                          <div class="kss-modifier-block">

                <div class="kss-modifier kss-modifier-original">
                  <div class="kss-modifier-example">
                    <h4 class="title-styleguide"> Esto es un h2 </h4>
<h2> Titulos para bloques </h2>

<h4 class="title-styleguide"> Select con borde </h4>
<select>
    <option value="All" selected="selected">- Cualquiera -</option>
    <option value="2287">Apartaestudio</option>
    <option value="3">Apartamento</option>
</select>

<h4 class="title-styleguide"> Select sin borde </h4>
<div class="select-pink">
    <select>
        <option value="All" selected="selected">- Cualquiera -</option>
        <option value="2287">Apartaestudio</option>
        <option value="3">Apartamento</option>
    </select>
</div>

<h4 class="title-styleguide"> Esto es un parrafo </h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                  </div>
                </div>

                                                <div class="kss-markup">
                  <button class="js-show-markup">Show Markup Example</button>
                  <template>
                    <pre><code data-language="html">&lt;h4 class=&quot;title-styleguide&quot;&gt; Esto es un h2 &lt;/h4&gt;
&lt;h2&gt; {{h2}} &lt;/h2&gt;

&lt;h4 class=&quot;title-styleguide&quot;&gt; Select con borde &lt;/h4&gt;
&lt;select&gt;
    &lt;option value=&quot;All&quot; selected=&quot;selected&quot;&gt;- Cualquiera -&lt;/option&gt;
    &lt;option value=&quot;2287&quot;&gt;Apartaestudio&lt;/option&gt;
    &lt;option value=&quot;3&quot;&gt;Apartamento&lt;/option&gt;
&lt;/select&gt;

&lt;h4 class=&quot;title-styleguide&quot;&gt; Select sin borde &lt;/h4&gt;
&lt;div class=&quot;select-pink&quot;&gt;
    &lt;select&gt;
        &lt;option value=&quot;All&quot; selected=&quot;selected&quot;&gt;- Cualquiera -&lt;/option&gt;
        &lt;option value=&quot;2287&quot;&gt;Apartaestudio&lt;/option&gt;
        &lt;option value=&quot;3&quot;&gt;Apartamento&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;

&lt;h4 class=&quot;title-styleguide&quot;&gt; Esto es un parrafo &lt;/h4&gt;
&lt;p&gt;{{p}}&lt;/p&gt;</code></pre>
                  </template>
                </div>
                              </div>

                                    </div>
                    </article>
    </div>
</div>

<!-- SCRIPTS -->
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/jquery-1.9.1.min.js"></script>
<script src="/core/misc/drupal.js"></script>
<script src="kss-assets/rainbow.min.js"></script>
<script src="kss-assets/main.js"></script>
<script src="https://fast.fonts.net/jsapi/be6ccecf-72d4-4789-bbc3-f0be03f90a6a.js" async></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/jquery.sumoselect.min.js"></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/style-guide.js"></script>


<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
