<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="kss-assets/kss.css">
  <link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/source/styleguide/">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/sumoselect.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/base/base.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/component/component.css">

</head>
<body id="kss-node">
  <div class="kss-wrapper">

    <div class="kss-sidebar">
      <div class="kss-sidebar-inner">
        <header class="kss-header">
          <h1 class="kss-doc-title">Style Guide</h1>
        </header>
        <nav class="kss-nav">
          <ul class="kss-menu">
            <li class="kss-menu-item"><a href="./"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
                          <li class="kss-menu-item">
                <a href="section-base.html"><span class="kss-ref">1</span><span class="kss-name">Base</span></a>
                              </li>
                          <li class="kss-menu-item">
                <a href="section-components.html"><span class="kss-ref">2</span><span class="kss-name">Components</span></a>
                              </li>
                      </ul>
        </nav>
      </div>
    </div>

    <div class="kss-content">
      <article role="main" class="kss-article">
      
        
                            <div id="kssref-components-download-home" class="kss-section kss-depth-2">
            <div class="kss-style">
                            <h2 class="kss-title kss-title--level-2">
                <a class="kss-title__permalink" href="#kssref-components-download-home">
                  Download app prueba jola mudnio
                </a>
              </h2>

                              <div class="kss-description">
                  <p>Download app component prubaaa hola</p>

                </div>
              
                          </div>

                          <div class="kss-modifier-block">

                <div class="kss-modifier kss-modifier-original">
                  <div class="kss-modifier-example">
                    <div class="download-app">
    <div class="content-image">
        <img src='../assets/imagenDescargaCappi.jpg' alt='Miriam B. Werner' />
    </div>
    <div class="content-info">
        <h2>
            Hola mudnooo
        </h2>
        <div class='field--name-body'> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere vehicula rhoncus. Aenean ac elit lacus. Pellentesque vel commodo nisl. Etiam in auctor ipsum. Nam rutrum risus sit amet aliquam viverra. Mauris efficitur enim in sem blandit, pulvinar tincidunt augue vehicula<p><div>
        <div class='field--name-field-link'> <div class='field__item'><a href='/'>Google</a></div><div class='field__item'><a href='/'>app sotore</a></div></div>
    </div>
</div>

                  </div>
                </div>

                                                <div class="kss-markup">
                  <button class="js-show-markup">Show Markup Example</button>
                  <template>
                    <pre><code data-language="html">&lt;div class=&quot;download-app&quot;&gt;
    &lt;div class=&quot;content-image&quot;&gt;
        {{image}}
    &lt;/div&gt;
    &lt;div class=&quot;content-info&quot;&gt;
        &lt;h2&gt;
            {{ label }}
        &lt;/h2&gt;
        {{ body }}
        {{ link }}
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                  </template>
                </div>
                              </div>

                                    </div>
                    </article>
    </div>
</div>

<!-- SCRIPTS -->
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/jquery-1.9.1.min.js"></script>
<script src="/core/misc/drupal.js"></script>
<script src="kss-assets/rainbow.min.js"></script>
<script src="kss-assets/main.js"></script>
<script src="https://fast.fonts.net/jsapi/be6ccecf-72d4-4789-bbc3-f0be03f90a6a.js" async></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/jquery.sumoselect.min.js"></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/style-guide.js"></script>


<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
