<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Style Guide</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="kss-assets/kss.css">
  <link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/source/styleguide/">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/sumoselect.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/base/base.css">
<link rel="stylesheet" href="/Users/Andres/Desktop/seed/STARTERKIT/css/component/component.css">

</head>
<body id="kss-node">
  <div class="kss-wrapper">

    <div class="kss-sidebar">
      <div class="kss-sidebar-inner">
        <header class="kss-header">
          <h1 class="kss-doc-title">Style Guide</h1>
        </header>
        <nav class="kss-nav">
          <ul class="kss-menu">
            <li class="kss-menu-item"><a href="./"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
                          <li class="kss-menu-item">
                <a href="section-base.html"><span class="kss-ref">1</span><span class="kss-name">Base</span></a>
                              </li>
                          <li class="kss-menu-item">
                <a href="section-components.html"><span class="kss-ref">2</span><span class="kss-name">Components</span></a>
                              </li>
                      </ul>
        </nav>
      </div>
    </div>

    <div class="kss-content">
      <article role="main" class="kss-article">
      
        
                            <div id="kssref-components-news" class="kss-section kss-depth-2">
            <div class="kss-style">
                            <h2 class="kss-title kss-title--level-2">
                <a class="kss-title__permalink" href="#kssref-components-news">
                  News element
                </a>
              </h2>

                              <div class="kss-description">
                  <p>News component</p>

                </div>
              
                          </div>

                          <div class="kss-modifier-block">

                <div class="kss-modifier kss-modifier-original">
                  <div class="kss-modifier-example">
                    

<div class="views-news">
    <div class="view-content">
        <div class="views-row">
            <div class="content-news">
                <div class="content-publication">
                    <div class='field--name-field-image'><img src='../assets/imagenprueba.jpg'/></div>
                    <div class="content-publication-info">
                        <div class='field--name-field-category'><a href='/'> Categoria 1 </a></div>
                        <h2 class="field--title"><a href='/'>Noticia de prueba</a> </h2>
                        <div class="menu-flag">
                            <div class="share-button">
                                <span class="icon-share"></span>
                                    <div class='addtoany_list'> share addtoany </div>
                                </div>
                            <a href='/' class='flag-favorite'> Marcar leido </a>
                        </div>
                    </div>
                </div>
                <div class="info-publication">
                    <div class="info-user">
                        <article class='profile'> <div class='field field--name-user-picture field--type-image field--label-hidden field__item'><a href='/'><img src='soruce/imagenew.jpg'/></a></div></article>
                        <span class='field field--name-uid field--type-entity-reference field--label-hidden'><a class='username' href='/'> Nombre usuario</a></span>
                    </div>
                    <div class="date-publication"> <span>20 - 10 - 2016</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>

                  </div>
                </div>

                                                <div class="kss-markup">
                  <button class="js-show-markup">Show Markup Example</button>
                  <template>
                    <pre><code data-language="html">{# /news#}

{% if class_views %}
&lt;div class=&quot;views-news&quot;&gt;
    &lt;div class=&quot;view-content&quot;&gt;
        &lt;div class=&quot;views-row&quot;&gt;
            &lt;div class=&quot;content-news&quot;&gt;
                &lt;div class=&quot;content-publication&quot;&gt;
                    {{ image_new }}
                    &lt;div class=&quot;content-publication-info&quot;&gt;
                        {{ category }}
                        &lt;h2 class=&quot;field--title&quot;&gt;&lt;a href=&#039;{{ url }}&#039;&gt;{{ title }}&lt;/a&gt; &lt;/h2&gt;
                        &lt;div class=&quot;menu-flag&quot;&gt;
                            &lt;div class=&quot;share-button&quot;&gt;
                                &lt;span class=&quot;icon-share&quot;&gt;&lt;/span&gt;
                                    {{ social }}
                                &lt;/div&gt;
                            {{ flag }}
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;info-publication&quot;&gt;
                    &lt;div class=&quot;info-user&quot;&gt;
                        {{ user_image }}
                        {{ user_name }}
                    &lt;/div&gt;
                    &lt;div class=&quot;date-publication&quot;&gt; &lt;span&gt;{{ data_publication }}&lt;/span&gt; &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{% else %}
&lt;div class=&quot;content-news&quot;&gt;
    &lt;div class=&quot;content-publication&quot;&gt;
        {{ image_new }}
        &lt;div class=&quot;content-publication-info&quot;&gt;
            {{ category }}
            &lt;h2 class=&quot;field--title&quot;&gt;&lt;a href=&#039;{{ url }}&#039;&gt;{{ title }}&lt;/a&gt; &lt;/h2&gt;
            &lt;div class=&quot;menu-flag&quot;&gt;
                &lt;div class=&quot;share-button&quot;&gt;
                    &lt;span class=&quot;icon-share&quot;&gt;&lt;/span&gt;
                    {{ social }}
                &lt;/div&gt;
                &lt;div class=&quot;save-new&quot;&gt;
                    &lt;div data-node=&quot;{{nid}}&quot;&gt;&lt;a href=&quot;#&quot;&gt;Guardar&lt;/a&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;info-publication&quot;&gt;
        &lt;div class=&quot;info-user&quot;&gt;
            {{ user_image }}
            {{ user_name }}
        &lt;/div&gt;
        &lt;div class=&quot;date-publication&quot;&gt; &lt;span&gt;{{ data_publication }}&lt;/span&gt; &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{% endif %}
</code></pre>
                  </template>
                </div>
                              </div>

                                    </div>
                    </article>
    </div>
</div>

<!-- SCRIPTS -->
<script src="kss-assets/kss.js"></script>
<script src="kss-assets/jquery-1.9.1.min.js"></script>
<script src="/core/misc/drupal.js"></script>
<script src="kss-assets/rainbow.min.js"></script>
<script src="kss-assets/main.js"></script>
<script src="https://fast.fonts.net/jsapi/be6ccecf-72d4-4789-bbc3-f0be03f90a6a.js" async></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/jquery.sumoselect.min.js"></script>
<script src="/Users/Andres/Desktop/seed/STARTERKIT/js/libs/style-guide.js"></script>


<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
