// News element
//
// News component
//
// Markup: news.twig
//
// Style guide: Components.news

.view-news {
  .views-exposed-form{
    .form-actions{
      .button{
        display: none;
      }
    }
  }
  .content-all {
    @include ib-grid;
    .revive-adserver-row {
      margin-bottom: 30px;
      text-align: center;
      .block-revive-adserver {
        display: inline-block;
      }
    }

    .views-row {
      @include inline-block(top, 31%);
      //@include col(4);
      box-shadow: 1px 1px 10px #a7a7a7;
      margin-bottom: 30px;
      position: relative;
      margin-right: 3.5%;

      &.open-social {
        .content-publication {
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.5);
            z-index: 2;
          }
        }

        .content-publication-info {
          z-index: 100;
        }

        .close-social {
          display: block;
        }

        .share-button {
          z-index: 5;
        }
      }

      .close-social {
        display: none;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 100;
        font-size: 1.3em;
        color: #fff;
        cursor: pointer;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
      @media (max-width: 767px) {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
  //@include responsive-central-left('.content-all', '.views-row', 3, 372px, $min-margin: 34px, $margin-top: 20px, $scrollAncho: 100px);
  .content-all {
    .views-row {
      @media screen and (max-width: 767px) {
        width: auto;
        display: block;
      }
    }
  }

  .views-field-node-share-mail {
    position: absolute;
    top: 50px;
    z-index: 3;
    left: 5%;
    width: 90%;
    display: none;

    h5 {
      color: #fff;
      margin: 0 0 6px 0;
      font-size: 16px;
    }

    .form-group {
      margin-bottom: 8px;
    }

    .form-body {
      box-shadow: none;
      border-radius: 6px;
      border: none;
      padding: 10px 2%;
      width: 96%;
    }

    .form-email {
      box-shadow: none;
      border-radius: 6px;
      border: none;
      padding: 10px 2%;
      width: 96%;
    }

    &.active {
      display: block;
    }

    button {
      background: #d6478f;
      color: #fff;
      border: none;
      box-shadow: none;
      border-radius: 6px;
      padding: 6px 11px;
    }

    .alert-dismissible {
      background: #fff;

      button {
        border-radius: 0;
        margin-right: 10px;
      }
    }
  }

  .icon-mail {
    background: red;
    @include bg-image('correo_p.svg');
    background-size: 33px;    
    display: inline-block;
    text-indent: -9999px;
    width: 37px;
    height: 34px;
  }
}

.content-news {
  .content-publication {
    position: relative;
    //width: pixel-to-percentage(373px,1200px);
    box-sizing: border-box;
    line-height: 0;
    
    img {
      width: 100%;
    }
    
    &:after {
      background: rgba(0,0,0, 0.3);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .a2a_button_facebook {
      background: url('../../image/facebook-inmuebles-fondoblanco.svg');
    }
    .a2a_button_twitter {
      background: url('../../image/twitter-inmuebles-fondoblanco.svg');
    }

    .content-publication_info {
      z-index: 2;
    }

    .menu-flag {
      z-index: 2;
    }

    h2 {
      bottom: 15px;
      font: {
        size: 1.4em;
        weight: 300;
      }
      left: 2%;
      margin: 0;
      position: absolute;
      width: 96%;
      line-height: 1.3;
      z-index: 2;
      a {
        color: $c-white;
        display: block;
        display: block;
        position: relative;
        width: 100%;

        span {
          display: block;
          vertical-align: bottom;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }

    .field--name-field-image {
      line-height: 0;
      img
      {
        width: 100%;
        height: auto;
      }
    }
    .field--name-field-image {
      width: auto;
      height: 214px;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
      }
    }
    .field--title {
      font-weight: 500;
    }
    .field--name-field-category {
      a {
        padding-top: 9px;
        box-shadow: 0px 1px 2px #5A5A5A;
        font-weight: 500;
      }
    }

    .field--name-field-category {
      background: $c-blue-light;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 2;

      a {
        color: $c-white;
        display: inline-block;
        font-weight: 300;
        padding: 16px 25px;
      }
    }

    .menu-flag {
      .share-button {
        position: absolute;
        top: 0;
        right: 50px;
        z-index: 2;

        > .icon-share {
          @include bg-image('Compartir.svg');
          width: 19px;
          height: 21px;
          display: block;
          padding: 10px;
        }
      }

      .save-new {
        margin-top: 7px;
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 2;

        a {
          @include bg-image('Guardar.svg');
          display: inline-block;
          text-indent: -9999px;
          width: 30px;
          height: 30px;
        }
      }
    }

    .share-button {
      @include inline-block(middle);
      position: relative;
      cursor: pointer;

      .icon-share {
        display: inline-block;
        height: 20px;
        width: 20px;
      }

      .addtoany_list {
        display: none;
        position: absolute;
        text-align: center;
        top: 6px;
        right: 55px;
        width: 185px;
        z-index: 100;
        a {
            padding-right: 5px;
            padding-left: 0;
        }
      }
    }
  }

  .info-publication {
    @include ib-grid;
    background: #e5e6e5;
    padding: 10px 2%;
    //width: pixel-to-percentage(373px,1200px);
    box-sizing: border-box;
  }

  .info-user {
    @include inline-block(middle, 60%);

    img {
      border-radius: 50%;
      @include inline-block(middle);
      max-width: 25px;
        margin-right: 5px;
      
    }
    .field--name-uid {
      color: $c-gray;
      font-weight: 700;
    }
  }

  .date-publication {
    @include inline-block(middle, 40%);
    text-align: right;
    color: $c-gray;
    font-size: 12px;
  }
}
