{# /news#}

{% if class_views %}
<div class="views-news">
    <div class="view-content">
        <div class="views-row">
            <div class="content-news">
                <div class="content-publication">
                    {{ image_new }}
                    <div class="content-publication-info">
                        {{ category }}
                        <h2 class="field--title"><a href='{{ url }}'>{{ title }}</a> </h2>
                        <div class="menu-flag">
                            <div class="share-button">
                                <span class="icon-share"></span>
                                    {{ social }}
                                </div>
                            {{ flag }}
                        </div>
                    </div>
                </div>
                <div class="info-publication">
                    <div class="info-user">
                        {{ user_image }}
                        {{ user_name }}
                    </div>
                    <div class="date-publication"> <span>{{ data_publication }}</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="content-news">
    <div class="content-publication">
        {{ image_new }}
        <div class="content-publication-info">
            {{ category }}
            <h2 class="field--title"><a href='{{ url }}'>{{ title }}</a> </h2>
            <div class="menu-flag">
                <div class="share-button">
                    <span class="icon-share"></span>
                    {{ social }}
                </div>
                <div class="save-new">
                    <div data-node="{{nid}}"><a href="#">Guardar</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-publication">
        <div class="info-user">
            {{ user_image }}
            {{ user_name }}
        </div>
        <div class="date-publication"> <span>{{ data_publication }}</span> </div>
    </div>
</div>
{% endif %}
