{#
/**
 * @file
 * Card component.
 *
 * Available variables:
 * - image: headshot of user.
 * - name: name of user.
 * - bio: user's bio.
 * - showBio: Toggle button to show full bio.
 * - hideBio" Hides bio.
 * - socialLinks: Social media channels array.
 *   - title: name of social channel.
 *   - url: url of channel.
 */
#}
{# Attach card library #}
{# {{ attach_library('awesome_theme/card') }}#}

{# Import icons macro #}
<div class="card {{ modifier_class }}">
  <div class="card__image">{{ image }}</div>
  <h2 class="card__name">{{ name }}</h2>
  <div class="card__social-media">
    <div class="card__social-media--label">Follow on:</div>
    <ul class="menu card__menu--social">
      {% for item in socialLinks %}
        <li class="card__menu--social--item">
          <a href="{{ item.url }}" class="icon-{{ item.icon|lower|clean_class }}">
            {{ icons.get(item.icon) }}<span>{{ item.icon }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <button class="card__view-bio">{{ showBio }}</button>
    <div class="card__bio">{{ bio }}</div>
</div>
