/// Color rosado oscuro
/// @group Colores
/// @type Color
$c-pink-dark: #931554;

/// Color rosado
/// @group Colores
/// @type Color
$c-pink: #b62e6c;

/// Color rosado claro
/// @group Colores
/// @type Color
$c-pink-light: #d6478f;

/// Color azul blue oscuro
/// @group Colores
/// @type Color
$c-blue-dark: #1a5182;

/// Color azul blue
/// @group Colores
/// @type Color
$c-blue: #2764a8;

/// Color azul blue claro
/// @group Colores
/// @type Color
$c-blue-light: #3781c4;

/// Color gris oscuro
/// @group Colores
/// @type Color
$c-gray-dark: #323232;

/// Color gris
/// @group Colores
/// @type Color
$c-gray: #4a4a4a;

/// Color gris claro
/// @group Colores
/// @type Color
$c-gray-light: #9b9b9b;

/// Color fondo
/// @group Colores
/// @type Color
$c-white-bg: #f2f2f2;

/// Color blanco
/// @group Colores
/// @type Color
$c-white: #fff;

/// Fuente pt Sans
/// @group fuentes
/// @type Font
$font-ptsans: 'PT Sans', sans-serif;

/// Fuente Lato
/// @group fuentes
/// @type Font
$font-lato: 'Lato', sans-serif;

/// Lista para botones de redes sociales
/// @group list
/// @type list
$items-social: (
  tw,
  fc,
  ig,
);

/// Color theme 1
/// @group Colores
/// @type Color
$c-theme-main: #ffd504;

/// Color text theme 1
/// @group Colores
/// @type Color
$c-theme-text-main: #4a4a4a;

/// Color theme 2
/// @group Colores
/// @type Color
$c-theme-second: #989696;

/// Color text theme 2
/// @group Colores
/// @type Color
$c-theme-text-second: $c-white;

$items-social-share: (
  twitter,
  facebook,
);
