/// Sets the environment up to create inline-block based grids
/// @group Global
@mixin ib-grid {
  font-size: 0;

  > * {
    font-size: 16px;
  }
}

/// Alinear elementos con display inline block
/// @group Global
/// @author Andres Florez
/// @link http://example.com Caption
/// @param {position} $position  posicion vertical top-bottom-middle
/// @param {width} $width [auto] - ancho del elemento
@mixin inline-block($position, $width: auto) {
  display: inline-block;
  vertical-align: $position;
  width: $width;
}

/// Tamaño de contenido
/// @group Global
/// @author Andres Florez
@mixin holder-desktop {
  margin: 0 auto;
  max-width: 1200px;
}

/// Grid personalizada
/// @group Global
/// @author Andres Florez
/// @param {width} $elementgrid - Tamaño del elemento dependiendo el parametro 12 = 100%
/// @example scss - basic usage
///   col($elementgrid: 8)
///   //margin-right: 3.345% width: 65.548%;;
@mixin col($elementgrid) {
  $suma-margin: ($elementgrid - 1) * 3.345;
  margin-right: 3.345%;
  width: $suma-margin + (5.268 * $elementgrid) - .011 * 1%;
}

/// Botones globales
/// @group Global
/// @author Andres Florez
/// @param {color} $color - Color del boton (blue, white-border, pink)
/// @param {type} $type - Tipo de boton (primary, normal)
/// @example scss - basic usage
///   buttom(blue, primary)
///   //border-radius: 4px, padding: 15px 20px, background: $c-blue-light, color: $c-white;
@mixin buttom($color, $type) {
  border: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  display: inline-block;
  font: {
    family: $font-lato;
    weight: 700;
  }
  text-decoration: none;
  @if($type == 'primary') {
    border-radius: 4px;
    padding: 15px 20px;
  }@else {
    border-radius: 2px;
    padding: 10px 20px;
  }

  @if($color == 'blue') {
    background: $c-blue-light;
    color: $c-white;

    &:hover {
      background: $c-blue;
    }
  }@else if($color == 'white-border') {
    background: $c-white;
    border: 1px solid $c-blue-light;
    color: $c-gray;
  }@else {
    background: $c-pink-light;
    color: $c-white;

    &:hover {
      background: $c-pink;
    }
  }
}

@mixin buttom-border
{
  display: inline-block;
  border: 2px solid $c-pink-light;
  background-color: transparent;
  color: $c-pink-light;
  padding: 7px 17px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #AAA;
  background-color: #fff;
  margin: 0 auto;
}

@mixin input
{
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #AAA;
  height: 40px;
  width: 100%;
  color: #333;
  font-size: 15px;
  padding-left: 10px;
  &:focus {
    border-color: #3680c4;
  }
}

@mixin input-and-label
{
  label
  {
    position: absolute;
    margin-top: 15px; // 15px
    color: #555;
    font-size: 15px; // 15px
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: linear;
      transition-delay: 0s;
    &.minlabel
    {
      margin-top: -5px; // 15px
      font-size: 12px; // 15px
      color: #AAA;
    }
  }
  input {
    @include input;
  }
}

/// Ruta imagen con background
/// @group Global
/// @author Andres Florez
/// @param {Nombre imagen} $name - Nombre de la imagen
/// @param {Repeticion de la imagen} $repeat [no-repeat] - repeat-image
/// @param {Posicion de la imagen} $position [center center] - Posicion de la imagen
/// @example scss - basic usage
///   bg-image(logo-1.png, repeat-y, top right);
///   //background: url('../../image/logo-1.png') repeat-y top right;
@mixin bg-image($name, $repeat: no-repeat, $position: center center, $color: transparent) {
  background: $color url('../../image/#{$name}') $repeat $position;
}

/// Poner imagen de fondo
/// @group Global
/// @author Andres Florez
@mixin image-replace {
  display: inline-block;
  text-indent: -9999px;
}

/// Selector rosado
/// @group Global
/// @author Andres Florez
@mixin select-pink() {
  .SumoSelect {
    > .CaptionCont {
      border: none;
      border-bottom: 1px solid $c-pink-light;
      border-radius: 0;

      span {
        color: $c-pink-light;
      }
    }
  }
}
