// Download app prueba jola mudnio 
//
// Download app component prubaaa hola
//
// Markup: downloadapp.twig
//
// Style guide: Components.download-home

.download-app {
  @include ib-grid;

  .content-image {
    @include inline-block(middle);
    @include col(7);
  }

  .content-info {
    @include inline-block(middle);
    @include col(5);
    margin-right: 0;
  }

}
