<div class="download-app">
    <div class="content-image">
        {{image}}
    </div>
    <div class="content-info">
        <h2>
            {{ label }}
        </h2>
        {{ body }}
        {{ link }}
    </div>
</div>
